<!DOCTYPE html>
<html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/fighters.scss">
</head>
<body>
<div class="fighter_title"><h1 class="fighter_page">Our Fighters</h1>
<h3>The Road Warriors</h3>
<p>We have fighters from all weight divisions and of all levels of experience, from novice to expert, 
ready to travel nationwide to put on the best show for you and your audience.</p>
</div>
<div class="border">

<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <div class="sign_in"><%= link_to "Sign in", new_user_session_path %></div>
  
<% end %>

<div class="container-fluid">
<div class="boxes">
  <% @fighters.each do |fighter| %>
   <div class="box"><h4><%=fighter.name%></h4>
   <%= image_tag fighter.avatar.url(:medium), class:"profile_circle" %>
 </br>
  Weight: <%= fighter.weight %>
  <br>
  Height: <%= fighter.height %></div>
<%end%>
</div>
</div>


</body>
</html>





